.theme-switch {
    --toggle-size: 30px;
    --container-width: 5.5em; /*1 em is 16px */
    --container-height: 2.5em;
    --container-radius: 6.5em; 
    --container-light-bg: cornflowerblue; 
    --container-night-bg: navy; 
    --circle-diameter: 3.5em; 
    --sun-moon-diameter: 2em;
    --sun-bg: yellow;
    --moon-bg: lightgray; 
    --spot-color: gray; /*the craters of the moon*/
    --circle-container-offset: calc(
        (var (
            var(--circle-diameter) - var(var(--container-height)) / 2 * -1 )
        )); 
        /**/
    --stars-color: beige; 
    --clouds-color: orange; 
    --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25); /* */
    --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.2); 
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-size:var(--toggle-size);
}